<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.core.db.mapper.v1.GoalsMapper">
    <resultMap id="GuardianGoalResponseDtoMap" type="com.widyu.healthcare.core.api.controller.v1.response.goal.GuardianGoalResponse">
        <id property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <result property="userType" column="userType"/>
        <result property="achieveGoal" column="achieveGoal"/>
        <result property="totalGoal" column="totalGoal"/>
        <collection property="goals" javaType="java.util.ArrayList" resultMap="goalsMap"></collection>
    </resultMap>

    <resultMap id="SeniorGoalResponseDtoMap" type="com.widyu.healthcare.core.api.controller.v1.response.goal.SeniorGoalResponse">
        <id property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <result property="userType" column="userType"/>
        <result property="achieveGoal" column="achieveGoal"/>
        <result property="totalGoal" column="totalGoal"/>
        <result property="totalPoint" column="totalPoint"/>
        <result property="sequence" column="userIdx"/>
        <collection property="goals" ofType="com.widyu.healthcare.core.domain.domain.v1.Goal" resultMap="goalsMap"/>
    </resultMap>

    <resultMap id="goalsMap" type="com.widyu.healthcare.core.domain.domain.v1.Goal">
        <id property="goalIdx" column="goalIdx"/>
        <result property="userIdx" column="userIdx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="type" column="type"/>
        <result property="day" column="day"/>
        <collection property="goalStatusList" ofType="com.widyu.healthcare.core.domain.domain.v1.GoalStatus" resultMap="goalStatusMap"/>
    </resultMap>

    <resultMap id="goalStatusMap" type="com.widyu.healthcare.core.domain.domain.v1.GoalStatus">
        <result property="goalIdx" column="goalIdx"/>
        <result property="goalStatusIdx" column="goalStatusIdx"/>
        <result property="time" column="time"/>
        <result property="status" column="status"/>
        <result property="pillNum" column="pillNum"/>
        <result property="imgUrl" column="imgUrl"/>
        <result property="point" column="point"/>
    </resultMap>

    <select id="findByGuardianIdx" resultMap="GuardianGoalResponseDtoMap">
        SELECT  u.userIdx, u.name, u.profileImageUrl, u.type AS userType,
                ud.totalGoal, ud.achieveGoal,
                g.goalIdx, g.title, g.description, g.type AS goalType, g.day,
                gs.goalStatusIdx, gs.time, gs.status, gs.pillNum, gs.imgUrl, gs.point
        FROM users u
                 LEFT JOIN usersdetail ud ON u.userIdx = ud.userIdx
                 LEFT JOIN goals g ON u.userIdx = g.userIdx
                 LEFT JOIN goalsstatus gs ON g.goalIdx = gs.goalIdx
        WHERE u.userIdx = #{userIdx}
    </select>

    <select id="findBySeniorIdx" resultMap="SeniorGoalResponseDtoMap">
        SELECT  u.userIdx, u.name, u.profileImageUrl, u.type AS userType,
                ud.totalGoal, ud.achieveGoal, ud.totalPoint,
                g.goalIdx, g.title, g.description, g.type AS goalType, g.day,
                gs.goalStatusIdx, gs.time, gs.status, gs.pillNum, gs.imgUrl, gs.point
        FROM users u
                 LEFT JOIN usersdetail ud ON u.userIdx = ud.userIdx
                 LEFT JOIN goals g ON u.userIdx = g.userIdx
                 LEFT JOIN goalsstatus gs ON g.goalIdx = gs.goalIdx
        WHERE u.userIdx = #{userIdx}
    </select>

    <select id="getGoalsByUserIdx" parameterType="java.lang.Long" resultMap="goalsMap">
        SELECT *
        FROM goals WHERE userIdx = #{userIdx}
    </select>

    <select id="selectGoalStatuses" resultType="com.widyu.healthcare.core.domain.domain.v1.GoalStatus">
        SELECT * FROM goalsstatus WHERE goalIdx = #{goalIdx}
    </select>

    <select id="getGoalByGoalIdx" parameterType="java.lang.Long" resultType="com.widyu.healthcare.core.domain.domain.v1.Goal">
        SELECT * FROM goals WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </select>

    <insert id = "insertGoal" parameterType="com.widyu.healthcare.core.domain.domain.v1.Goal" >
        INSERT INTO goals (userIdx, title, description, type, day) VALUES (#{userIdx}, #{title}, #{description}, #{type}, #{day})
        <selectKey keyProperty="goalIdx" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS goalIdx
        </selectKey>
    </insert>

    <select id="getGoalIdx" parameterType="com.widyu.healthcare.core.domain.domain.v1.Goal" resultType="java.lang.Long">
        SELECT goalIdx
        FROM goals
        WHERE userIdx = #{userIdx} AND title=#{title} AND description=#{description}
        ORDER BY createdDate DESC
            LIMIT 1;
    </select>

    <delete id="deleteGoal">
        DELETE
        FROM Goals
        WHERE goalIdx = #{goalIdx}
    </delete>

    <update id = "updateGoal" parameterType="com.widyu.healthcare.core.domain.domain.v1.Goal">
        UPDATE Goals
        SET title=#{title}, description=#{description}, type=#{type}, day=#{day}
        WHERE goalIdx = #{goalIdx}
    </update>
</mapper>
