<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.mapper.GoalsMapper">

    <select id="getGoalsByIdx" parameterType="java.lang.Long" resultType="com.widyu.healthcare.dto.goals.GoalDTO">
        SELECT goalIdx, userIdx, title, description, type, day, startDate, endDate FROM goals WHERE userIdx = #{userIdx}
    </select>

    <select id="getGoalByGoalIdx" parameterType="java.lang.Long" resultType="com.widyu.healthcare.dto.goals.GoalDTO">
        SELECT * FROM goals WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </select>

    <insert id = "insertGoal" parameterType="com.widyu.healthcare.dto.goals.GoalDTO" useGeneratedKeys="true" keyProperty="goalIdx">
        INSERT INTO goals (userIdx, title, description, type, day, startDate, endDate) VALUES (#{userIdx}, #{title}, #{description}, #{type}, #{day}, #{startDate}, #{endDate})
    </insert>

    <select id="getGoalIdx" parameterType="com.widyu.healthcare.dto.goals.GoalDTO" resultType="java.lang.Long">
        SELECT goalIdx
        FROM goals
        WHERE userIdx = #{userIdx} AND title=#{title} AND description=#{description}
        ORDER BY createdDate DESC
        LIMIT 1;
    </select>

    <delete id="deleteGoal">
        DELETE
        FROM Goals
        WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </delete>

    <update id = "updateGoal" parameterType="com.widyu.healthcare.dto.goals.GoalDTO">
        UPDATE Goals
        SET title=#{title}, description=#{description}, type=#{type}, day=#{day}, startDate=#{startDate}, endDate=#{endDate}
        WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </update>
</mapper>