<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.mapper.GoalsMapper">

    <select id="getGoalsById" parameterType="java.lang.Long" resultType="com.widyu.healthcare.dto.goals.Goal">
        SELECT * FROM goals WHERE userIdx = #{id}
    </select>

    <select id="getGoalByGoalId" parameterType="java.lang.Long" resultType="com.widyu.healthcare.dto.goals.Goal">
        SELECT * FROM goals WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </select>

    <insert id = "insertGoal" parameterType="com.widyu.healthcare.dto.goals.Goal">
        INSERT INTO goals (userIdx, title, description, type, day, term, startDate, endDate) VALUES (#{userIdx}, #{title}, #{description}, #{type}, #{day}, #{term}, #{startDate}, #{endDate})
    </insert>

    <select id="getGoalIdx" parameterType="com.widyu.healthcare.dto.goals.Goal" resultType="java.lang.Long">
        SELECT goalIdx FROM goals WHERE userIdx = #{userIdx}
    </select>

    <delete id="deleteGoal">
        DELETE
        FROM Goal
        WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </delete>

    <update id = "updateGoal" parameterType="com.widyu.healthcare.dto.goals.Goal">
        UPDATE Goal
        SET time = #{time},
        area = #{area}
        WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </update>


</mapper>
