<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.mapper.GoalsStatusMapper">

    <insert id="insertGoalStatus" parameterType="com.widyu.healthcare.dto.goals.GoalStatus">
        INSERT INTO goalsstatus (goalIdx, time) VALUES (#{goalIdx}, #{userIdx})
    </insert>

    <delete id="deleteGoalStatus" parameterType="java.lang.Long">
        DELETE
        FROM goalsstatus
        WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </delete>

    <update id="updateGoalStatusUrl" parameterType="com.widyu.healthcare.dto.goals.GoalStatus">
        UPDATE goalsstatus
        SET ImgUrl = #{url}
        WHERE goalStatusIdx = #{goalStatusIdx}
    </update>

    <update id="updateGoalStatus" parameterType="com.widyu.healthcare.dto.goals.GoalStatus">
        UPDATE goalsstatus
        SET time=#{time}, pillNum=#{pillNum}
        WHERE goalStatusIdx=#{goalStatusIdx}
    </update>

    <select id="countGoalStatus" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(*)
        FROM goalsstatus
        WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </select>

    <select id="getGoalStatusByGoalId" parameterType="map" resultType="com.widyu.healthcare.dto.goals.GoalStatus">
        SELECT * FROM goalsstatus
        WHERE goalIdx = #{params.goalIdx, jdbcType=BIGINT} AND time = #{params.time, jdbcType=TIMESTAMP}
    </select>

    <select id="getUrlByGoalStatusId" parameterType="java.lang.Long" resultType="String">
        SELECT ImgUrl FROM goalsstatus
        WHERE goalStatusIdx = #{goalStatusIdx}
    </select>

    <select id="getGoalStatusIdx" parameterType="com.widyu.healthcare.dto.goals.GoalStatus">
        SELECT goalStatusIdx
        FROM goalsstatus
        WHERE goalIdx=#{goalIdx} AND time=#{time} AND pillNum=#{pillNum}
        ORDER BY createdDate DESC
        LIMIT 1;
    </select>

    <update id="updateStatusSuccess" parameterType="java.lang.Long">
        UPDATE goalsstatus
        SET status=1
        WHERE goalStatusIdx=#{goalStatusIdx}
    </update>

    <update id="updateTotalPoint" parameterType="java.lang.Long">
        UPDATE users
        SET totalPoint=totalPoint+1
        WHERE userIdx=#{userIdx}
    </update>
</mapper>
