<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.mapper.GoalsStatusMapper">

    <insert id="insertGoalStatus" parameterType="com.widyu.healthcare.dto.goals.GoalStatus" useGeneratedKeys="true" keyProperty="goalStatusIdx">
        INSERT INTO goalsstatus (goalIdx, time, pillNum) VALUES (#{goalIdx}, #{time}, #{pillNum})
    </insert>

    <delete id="deleteGoalStatus" parameterType="java.lang.Long">
        DELETE
        FROM goalsstatus
        WHERE goalIdx = #{goalIdx}
    </delete>

    <update id="updateGoalStatusUrl" parameterType="com.widyu.healthcare.dto.goals.GoalStatus">
        UPDATE goalsstatus
        SET ImgUrl = #{url}, time=#{time}
        WHERE goalIdx = #{goalIdx} AND
    </update>

    <update id="updateGoalStatus" parameterType="com.widyu.healthcare.dto.goals.GoalStatus">
        UPDATE goalsstatus
        SET time=#{time}, pillNum=#{pillNum}
        WHERE goalStatusIdx=#{goalStatusIdx}
    </update>

    <select id="countGoalStatus" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(*)
        FROM goalsstatus
        WHERE userIdx = #{userIdx} AND goalIdx = #{goalIdx}
    </select>

    <select id="getGoalStatusByGoalId" parameterType="map" resultType="com.widyu.healthcare.dto.goals.GoalStatus">
        SELECT * FROM goalsstatus
        WHERE goalIdx = #{params.goalIdx, jdbcType=BIGINT} AND time = #{params.time, jdbcType=TIMESTAMP}
    </select>

    <select id="getGoalStatusIdx" parameterType="com.widyu.healthcare.dto.goals.GoalStatus">
        SELECT goalStatusIdx
        FROM goalsstatus
        WHERE goalIdx=#{goalIdx} AND time=#{time} AND pillNum=#{pillNum}
        ORDER BY createdDate DESC
        LIMIT 1;
    </select>

</mapper>
