<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.core.db.mapper.v1.GuardiansMapper">
    <resultMap id="SeniorDetailResponseDtoMap" type="com.widyu.healthcare.core.api.controller.v1.response.senior.SeniorInfoResponse">
        <result property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <result property="userType" column="userType"/>
        <result property="phoneNumber" column="phoneNumber"/>
        <result property="address" column="address"/>
        <result property="birth" column="birth"/>
        <result property="isDisease" column="isDisease"/>
        <collection property="diseases" column="{userIdx = userIdx}" javaType="java.util.ArrayList" ofType="com.widyu.healthcare.core.domain.domain.v1.Disease" select="findDiseasesByIdx">
            <result property="name" column="diseaseName"/>
            <result property="drugName" column="drugName"/>
            <result property="explanation" column="explanation"/>
            <result property="favoriteHospital" column="favoriteHospital"/>
            <result property="dosageTime" column="dosageTime"/>
        </collection>
    </resultMap>

    <select id="checkId" resultType="int">
        select count(id)
        from usersdetail
        WHERE id = #{id}
    </select>

    <insert id="insertDetail">
        INSERT INTO usersdetail(id, password, phoneNumber)
        VALUES(#{id}, #{password}, #{phoneNumber})
        <selectKey resultType="long" keyProperty="userIdx" keyColumn="userIdx" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE users
        SET name = #{name}
        WHERE userIdx = #{userIdx}
    </update>

    <select id="findByIdAndPassword" resultType="com.widyu.healthcare.core.api.controller.v1.response.CommonUserResponse">
        SELECT u.status as status, u.userIdx as userIdx
        FROM usersdetail as ud
        LEFT JOIN users as u ON ud.userIdx = u.userIdx
        WHERE ud.id = #{id}
          AND ud.password = #{password}
          AND u.status != 'DELETE'
    </select>

    <update id="updateFCM">
        UPDATE usersdetail
        SET fcmToken = #{fcmToken}
        WHERE userIdx = #{guardianIdx}
    </update>

    <select id="findByIdx" resultType="com.widyu.healthcare.core.api.controller.v1.response.guardian.GuardianInfoResponse">
        SELECT u.userIdx, u.name, u.profileImageUrl, u.type AS userType, ud.id, ud.phoneNumber, ud.address, ud.birth
        FROM usersdetail as ud
        JOIN users as u ON ud.userIdx = u.userIdx
        WHERE ud.userIdx = #{userIdx}
          AND u.status != 'DELETE'
    </select>

    <select id="findSeniorsByIdx" resultMap="SeniorDetailResponseDtoMap">
        SELECT ud.userIdx, u.name as name, u.profileImageUrl, u.type AS userType, ud.inviteCode, ud.phoneNumber, ud.address, ud.birth, ud.isDisease
        FROM usersdetail ud
        LEFT JOIN users u ON ud.userIdx = u.userIdx
        WHERE ud.userIdx IN (
            SELECT seniorIdx
            FROM relations
            WHERE guardianIdx = #{userIdx}
        )
        AND u.status != 'DELETE'
        GROUP BY ud.userIdx;
    </select>

    <select id="findDiseasesByIdx" resultType="java.util.HashMap">
        SELECT name AS diseaseName, drugName, explanation, favoriteHospital, dosageTime
        FROM diseases
        WHERE userIdx = #{userIdx}
    </select>

    <select id="findSeniorsIdxByIdx">
        SELECT seniorIdx
        FROM relations
        WHERE guardianIdx = #{guardianIdx}
    </select>

    <!--  TODO : indexing 적용하기 -->
    <select id="findIdByNameAndNumber" resultType="com.widyu.healthcare.core.api.controller.v1.response.guardian.GuardianInfoResponse">
        SELECT u.name, u.profileImageUrl, ud.id, ud.phoneNumber
        FROM usersdetail as ud
        JOIN users as u ON ud.userIdx = u.userIdx
        WHERE u.name = #{name}
          AND ud.phoneNumber = #{phoneNumber}
          AND u.status != 'DELETE'
    </select>

    <update id="updatePasswordByGuardianInfos">
        UPDATE usersdetail as ud
        SET ud.password = #{newPassword}
        WHERE ud.id = #{id}
          AND ud.phoneNumber = #{phoneNumber}
          AND u.status != 'DELETE'
    </update>

    <update id="updateProfile">
        UPDATE users as u
        JOIN usersdetail as ud ON u.userIdx = ud.userIdx
        <set>
            <if test="name != null">
                u.name = #{name},
            </if>
            <if test="profileImageUrl != null">
                u.profileImageUrl = #{profileImageUrl},
            </if>
            <if test="phoneNumber != null">
                ud.phoneNumber = #{phoneNumber},
            </if>
            <if test="address != null">
                ud.address = #{address},
            </if>
            <if test="birth != null">
                ud.birth = #{birth},
            </if>
        </set>
        WHERE u.userIdx = #{userIdx}
        AND u.status != 'DELETE'
    </update>


</mapper>
