<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.core.db.mapper.v1.HealthsMapper">
    <resultMap id="RecentHealthMap" type="com.widyu.healthcare.core.domain.domain.v1.Health">
        <result property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <collection property="healthData" javaType="java.util.ArrayList" resultMap="healthDataMap"></collection>
    </resultMap>

    <resultMap id="DailyHealthMap" type="com.widyu.healthcare.core.domain.domain.v1.Health">
        <result property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <collection property="healthData" javaType="java.util.ArrayList" resultMap="healthDataMap"></collection>
    </resultMap>

    <resultMap id="healthDataMap" type="com.widyu.healthcare.core.domain.domain.v1.HealthData">
        <!--healthIdx 없으면 중복값 제거됨-->
        <id property="healthIdx"  column="healthIdx"/>
        <result property="data" column="data"/>
        <result property="healthType" column="healthType"/>
    </resultMap>

    <insert id="insertRecentHeartBitAndStatus" parameterType="com.widyu.healthcare.core.domain.domain.v1.HealthData">
        INSERT INTO healths (userIdx, data, status, type) VALUES (#{userIdx}, #{health.data}, #{health.status}, 'heartBit')
    </insert>

    <select id="getRecentHealth" resultMap="RecentHealthMap">
        SELECT
            u.userIdx,
            h.healthIdx,
            h.data,
            h.type AS healthType,
            u.name,
            u.profileImageUrl,
            l.latitude,
            l.longitude
        FROM users u
        JOIN (
            SELECT userIdx, type, MAX(createdDate) AS maxCreatedDate
            FROM healths
            WHERE userIdx = #{userIdx}
            GROUP BY userIdx, type
        ) AS latest
        ON u.userIdx = latest.userIdx
        JOIN healths h ON h.userIdx = latest.userIdx
        LEFT JOIN locations l ON u.userIdx = l.userIdx;
    </select>

    <select id="getDailyHealth" resultMap="DailyHealthMap">
        SELECT u.userIdx, u.name, u.profileImageUrl, h.data, h.type AS healthType, h.healthIdx
        FROM users AS u
        LEFT JOIN healths AS h ON h.userIdx = u.userIdx
        WHERE h.userIdx = #{userIdx}
            AND h.type = #{healthType}
            AND MONTH(h.createdDate) = #{month}
            AND DAY(h.createdDate) = #{day}
        LIMIT 1440;
    </select>

</mapper>