<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.core.db.mapper.v1.RewardsMapper">
    <resultMap id="DailyHealthMap" type="com.widyu.healthcare.core.domain.domain.v1.Health">
        <result property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <collection property="healthData" javaType="java.util.ArrayList">
            <result property="healthType" column="type"/>
            <result property="data" column="data"/>
        </collection>
    </resultMap>

    <resultMap id="RecentHealthMap" type="com.widyu.healthcare.core.domain.domain.v1.Health">
        <result property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <collection property="healthData" column="{userIdx = userIdx}, {month = month}, {day = day}," javaType="java.util.ArrayList" select="findDailyDataByType">
            <result property="data" column="data"/>
            <result property="healthType" column="type"/>
        </collection>
    </resultMap>

    <insert id="insertHeartBitAndStatus" parameterType="com.widyu.healthcare.core.domain.domain.v1.HealthData">
        INSERT INTO healths (userIdx, data, status, type) VALUES (#{userIdx}, #{recentHeartBit}, #{status}, #{type})
    </insert>

    <select id="getRecentHealth" resultMap="RecentHealthMap">
        SELECT
            h.data,
            h.createdDate,
            h.type,
            u.userIdx,
            u.name,
            u.profileImageUrl,
            l.latitude,
            l.longitude
        FROM healths h
        JOIN (
                SELECT userIdx, type, MAX(createdDate) AS maxCreatedDate
                FROM healths
                GROUP BY userIdx, type
            ) latestData
        ON h.userIdx = latestData.userIdx
        AND h.type = latestData.type
        AND h.createdDate = latestData.maxCreatedDate
        LEFT JOIN users u ON h.userIdx = u.userIdx
        LEFT JOIN locations l ON h.userIdx = l.userId
    </select>

    <select id="getDailyHealth" resultMap="DailyHealthMap">
        SELECT u.userIdx, u.name, u.profileImageUrl
        FROM users as u
        WHERE userIdx = #{userIdx}
    </select>

    <select id="findDailyDataByType" resultType="com.widyu.healthcare.core.domain.domain.v1.HealthData">
        SELECT h.data
        FROM healths as h
        WHERE h.userIdx = #{userIdx}
        AND h.type = #{healthType}
        AND MONTH(h.createdDate) = #{month}
        AND DAY(h.createdDate) = #{day}
        LIMIT 1440;
    </select>

</mapper>