<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.core.db.mapper.v1.RewardsStatusMapper">

    <insert id="insertRewardStatus" parameterType="com.widyu.healthcare.core.domain.domain.v1.Reward">
        INSERT INTO rewardsstatus (rewardIdx, uploaderIdx, userIdx, status) VALUES (#{rewardIdx}, #{uploaderIdx}, #{userIdx}, #{status})
    </insert>

    <select id="getRewardsIdxByUserIdx" parameterType="java.lang.Long" resultType="com.widyu.healthcare.core.api.controller.v1.response.reward.RewardResponse">
        SELECT rs.rewardIdx, rs.status, rs.userIdx
        FROM rewardsstatus rs
        WHERE rs.userIdx = #{userIdx};
    </select>

    <update id="updateRewardStatus" parameterType="map">
        UPDATE rewardsstatus
        SET status = #{status}
        WHERE rewardIdx = #{rewardIdx}
    </update>

</mapper>