<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.core.db.mapper.v1.RewardsMapper">

    <insert id="insertReward" parameterType="com.widyu.healthcare.core.domain.domain.v1.Reward">
        INSERT INTO rewards (uploaderIdx, url, description, point, type) VALUES (#{uploaderIdx}, #{url}, #{description}, #{point}, #{type})
        <selectKey keyProperty="rewardIdx" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS rewardIdx
        </selectKey>
    </insert>

    <update id="updateReward" parameterType="com.widyu.healthcare.core.domain.domain.v1.Reward">
        UPDATE rewards
        SET url = #{url}, type = #{type}, description = #{description}
        WHERE rewardIdx = #{rewardIdx}
    </update>

    <update id="updateRewardUrl" parameterType="map">
        UPDATE rewards
        SET url = #{url}
        WHERE rewardIdx = #{rewardIdx}
    </update>

    <select id="getRewardByUserIdxForGuardian" parameterType="java.lang.Long" resultType="com.widyu.healthcare.core.api.controller.v1.response.reward.RewardResponse">
        SELECT r.rewardIdx, r.uploaderIdx, r.type, r.url, r.status, r.description,r.point, u.userIdx as uploaderIdx, u.profileImageUrl as uploaderImageUrl, u.name as uploaderName
        FROM rewards r
        JOIN users u ON r.uploaderIdx = u.userIdx
        WHERE r.uploaderIdx = #{userIdx};
    </select>

    <select id="getUrlByRewardIdx" parameterType="java.lang.Long" resultType="String">
        SELECT url FROM rewards
        WHERE rewardIdx = #{rewardIdx}
    </select>

    <delete id="deleteRewardByRewardIdx" parameterType="java.lang.Long">
        DELETE
        FROM rewards
        WHERE rewardIdx = #{rewardIdx}
    </delete>

    <update id="updateRewardTotalStatus" parameterType="map">
        UPDATE rewards
        SET status = #{status}
        WHERE rewardIdx = #{rewardIdx}
    </update>
</mapper>