<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.core.db.mapper.v1.SeniorsMapper">
    <resultMap id="SeniorDetailResponseDtoMap" type="com.widyu.healthcare.core.api.controller.v1.response.senior.SeniorInfoResponse">
        <result property="userIdx" column="userIdx"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profileImageUrl"/>
        <result property="userType" column="userType"/>
        <result property="phoneNumber" column="phoneNumber"/>
        <result property="address" column="address"/>
        <result property="birth" column="birth"/>
        <result property="isDisease" column="isDisease"/>
        <collection property="diseases" column="{userIdx = userIdx}" javaType="java.util.ArrayList" ofType="com.widyu.healthcare.core.domain.domain.v1.Disease" select="findDiseasesByIdx">
            <result property="name" column="diseaseName"/>
        </collection>
    </resultMap>

    <insert id="insertDetail" parameterType="com.widyu.healthcare.core.api.controller.v1.request.senior.RegisterSeniorRequest">
        INSERT INTO usersdetail(phoneNumber, birth, age, address, inviteCode, isDisease)
        VALUES(#{phoneNumber}, #{birth}, #{age}, #{address}, #{inviteCode}, #{isDisease})
        <selectKey resultType="long" keyProperty="userIdx" keyColumn="userIdx" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE users
        SET name = #{name}, type = #{type}
        WHERE userIdx = #{userIdx}
    </update>

    <insert id="insertDiseases" parameterType="java.util.List">
        INSERT INTO diseases(userIdx, name, drugName, explanation)
        VALUES
        <foreach collection="diseases" item="disease" separator=",">
           (#{userIdx}, #{disease.name}, #{disease.drugName}, #{disease.explanation})
        </foreach>
    </insert>

    <update id="updateFCM">
        UPDATE usersdetail
        SET fcmToken = #{fcmToken}
        WHERE userIdx = #{seniorIdx}
    </update>

    <select id="findFCM">
        SELECT fcmToken
        FROM usersdetail
        WHERE userIdx = #{userIdx}
    </select>

    <insert id="insertRelationWithSenior">
        INSERT INTO relations(seniorIdx, userIdx)
        VALUES( #{seniorIdx}, #{userIdx} )
    </insert>

    <update id="updateRelationWithSenior" parameterType="long">
        UPDATE relations
        SET seniorIdx = #{seniorIdx}
        WHERE guardianIdx = #{guardianIdx}
    </update>

    <select id="findByInviteCode" resultType="com.widyu.healthcare.core.api.controller.v1.response.CommonUserResponse">
        SELECT u.userIdx, u.status
        FROM usersdetail as ud
        JOIN users as u ON ud.userIdx = u.userIdx
        WHERE ud.inviteCode = #{inviteCode}
    </select>

    <select id="findByIdx" resultMap="SeniorDetailResponseDtoMap">
        SELECT ud.userIdx, u.name as name, u.profileImageUrl, u.type AS userType, ud.inviteCode, ud.phoneNumber, ud.address, ud.birth, ud.isDisease
        FROM usersdetail ud
        LEFT JOIN users u ON ud.userIdx = u.userIdx
        WHERE ud.userIdx = #{userIdx}
        AND u.status != 'DELETE'
        GROUP BY ud.userIdx;
    </select>

    <select id="findDiseasesByIdx" resultType="com.widyu.healthcare.core.domain.domain.v1.Disease">
        SELECT diseaseIdx, name AS diseaseName, drugName, explanation
        FROM diseases
        WHERE userIdx = #{userIdx}
    </select>

    <select id="findGuardiansByIdx" resultType="com.widyu.healthcare.core.api.controller.v1.response.guardian.GuardianInfoResponse">
        SELECT u.userIdx, u.name, u.profileImageUrl, u.type AS userType, ud.id, ud.phoneNumber, ud.address, ud.birth
        FROM usersdetail as ud
        LEFT JOIN users as u ON ud.userIdx = u.userIdx
        WHERE ud.userIdx IN (
            SELECT guardianIdx
            FROM relations
            WHERE userIdx = #{userIdx}
        )
        AND u.status != 'DELETE'
    </select>

    <select id="findGuardiansIdxByIdx" resultType="long">
        SELECT guardianIdx
        FROM relations
        WHERE userIdx = #{userIdx}
    </select>

    <select id="findGuardianByGuardianId" resultType="com.widyu.healthcare.core.api.controller.v1.response.guardian.GuardianInfoResponse">
        SELECT u.userIdx, u.name, u.profileImageUrl, u.type, ud.id
        FROM usersdetail as ud
        JOIN users as u ON ud.userIdx = u.userIdx
        WHERE ud.id = #{id}
        AND u.type = 'GUARDIAN'
        LIMIT 10;
    </select>

    <update id="updateProfile">
        UPDATE users AS u
        JOIN usersdetail AS ud ON u.userIdx = ud.userIdx
        JOIN diseases AS d ON d.userIdx = ud.userIdx
        <set>
            <if test="name != null">
                u.name = #{name},
            </if>
            <if test="birth != null">
                ud.birth = #{birth},
            </if>
            <if test="phoneNumber != null">
                ud.phoneNumber = #{phoneNumber},
            </if>
            <if test="address != null">
                ud.address = #{address},
            </if>
            <if test="isDisease != null">
                ud.isDisease = #{isDisease},
            </if>
        </set>
        WHERE u.userIdx = #{userIdx}
        AND u.status != 'DELETE'
    </update>

    <update id="updateProfileImage">
        UPDATE users as u
        <set>
            <if test="profileImageUrl != null">
                u.profileImageUrl = #{profileImageUrl},
            </if>
        </set>
        WHERE u.userIdx = #{userIdx}
        AND u.status != 'DELETE'
    </update>

    <update id="updateDisease" parameterType="com.widyu.healthcare.core.domain.domain.v1.Disease">
            UPDATE diseases
            SET name = #{disease.name}, drugName = #{disease.drugName}, explanation = #{disease.explanation}
            WHERE diseaseIdx = #{disease.diseaseIdx}
            AND userIdx = #{userIdx};
    </update>

</mapper>
