<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.widyu.healthcare.users.UsersMapper">

    <select id="checkId" resultType="int">
        select count(*)
        from senior;
    </select>

    <insert id="insertUser" parameterType="com.widyu.healthcare.users.dto.UserDTO">
        INSERT INTO User(id, password, name, tel, mail, address_code, address_detail)
        VALUES(#{id}, #{password}, #{name}, #{tel}, #{mail}, #{addressCode}, #{addressDetail})
    </insert>

</mapper>
